# Los Angeles Times datadesk's `census-data-downloader` 

Repo: https://github.com/datadesk/census-data-downloader 

Needs an API KEY.

In [13]:
from acs_download import tree

C:\Users\sanchez\AppData\Local\Continuum\anaconda3\envs\pycon2019\lib\site-packages\tqdm\autonotebook\__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [8]:
import pandas as pd
from pathlib import Path

In [9]:
RAW_DATA_PATH = Path("../data/raw/")
PROCESSED_DATA_PATH = Path("../data/processed/")

In [23]:
%env CENSUS_API_KEY=4d13193efb4913d677a3e75c9f56e396b44f7903

env: CENSUS_API_KEY=4d13193efb4913d677a3e75c9f56e396b44f7903

In [24]:
!censusdatadownloader --year 2017 --data-dir ..\data\ medianage counties

In [25]:
tree(RAW_DATA_PATH)

+ ..\data\raw
    + acs5_2017_medianage_counties.csv
    + acs5_2017_medianage_states.csv
    + cps_00016.dta.gz
    + tl_2018_us_county.zip

In [15]:
raw_data = pd.read_csv(RAW_DATA_PATH / "acs5_2017_medianage_states.csv")
processed_data = pd.read_csv(PROCESSED_DATA_PATH / "acs5_2017_medianage_states.csv")

In [16]:
raw_data.head()

   B01002_001E  B01002_002E  B01002_003E         name  state
0         40.1         38.1         41.8  Puerto Rico     72
1         38.7         37.2         40.1      Alabama      1
2         33.9         33.4         34.4       Alaska      2
3         37.2         35.9         38.5      Arizona      4
4         37.9         36.5         39.3     Arkansas      5

In [17]:
processed_data.head()

   geoid         name  median  male  female  state
0     72  Puerto Rico    40.1  38.1    41.8     72
1      1      Alabama    38.7  37.2    40.1      1
2      2       Alaska    33.9  33.4    34.4      2
3      4      Arizona    37.2  35.9    38.5      4
4      5     Arkansas    37.9  36.5    39.3      5